.about {
  background-color: $clr2;
  height: calc(100vh - 65px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  //   .title {
  //     h2 {
  //       align-items: center;
  //     }
  //   }

  //   nav {
  //     align-items: center;
  //   }

  //   section {
  //     align-items: center;
  //   }
}
